<%= form_for(@message_delivery) do |f| %>
  <% if @message_delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_delivery.errors.count, "error") %> prohibited this message_delivery from being saved:</h2>

      <ul>
      <% @message_delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :audio_file %>
    <%= f.select :audio_file_id, options_from_collection_for_select(AudioFile.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :contact %>
    <%= f.select :contact_id, options_from_collection_for_select(Contact.all, :id, :name) %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
