<div class="page-header"><h1>Listing Message Deliveries</h1></div>

<table class="table table-striped">
  <tr>
    <th>Audio file</th>
    <th>Contact</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @message_deliveries.each do |message_delivery| %>
  <tr>
    <td><%= message_delivery.audio_file.name %></td>
    <td><%= message_delivery.contact.name %></td>
    <td><%= link_to 'Show', message_delivery, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_message_delivery_path(message_delivery), class: 'btn' %></td>
    <td><%= link_to 'Destroy', message_delivery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Message delivery', new_message_delivery_path, class: 'btn btn-primary' %>
