<div class="page-header"><h1>Listing Contacts</h1></div>

<table class="table table-striped">
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.email %></td>
    <td><%= contact.name %></td>
    <td><%= contact.phone_number %></td>
    <td><%= link_to 'Show', contact, class: 'btn' %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact), class: 'btn' %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Contact', new_contact_path, :class=>"btn btn-primary" %>
