<div class="page-header">
  <h1>Contact Detail</h1>
</div>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @contact.phone_number %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact), class: 'btn btn-primary' %>
<%= link_to 'Back', contacts_path, class: 'btn' %>
