<div class="page-header"><h1>Audio File detail </h1></div>

<div class="row">
  <div class="span12">
    <p>
      <b>Name:</b>
      <%= @audio_file.name %>
    </p>

    <p>
      <b>File Name:</b>
      <%= @audio_file.file_file_name %>
    </p>

    <p>
      <b>File Size:</b>
      <%= @audio_file.file_file_size %>
    </p>

    <%= link_to 'Edit', edit_audio_file_path(@audio_file), class: 'btn btn-primary' %>
    <%= link_to 'Back', audio_files_path, class: 'btn' %>
  </div>
</div>
